{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title>Shopping Cart</title>
    

   
    <link rel="stylesheet" href="{% static 'css/style(6).css' %}">
	
	<link rel="stylesheet" href="css/demo.css">
  
  </head>
  <body>

  
      
 <main>
     
   <header class="header">
  <div class="container header__top">
    <div class="header__logo">
      <h1 class="header__title">
        OUR
        <span class="header__subtitle"> PRODUCTS</span>
      </h1>
    </div>
    <div class="header__cart">
      <button>log out</button>
      <ul>
        <li class="header__submenu" id="submenu">
          <button class="header__cart-btn" id="toggle-cart-btn"><svg class="cart" width="24" height="24" viewBox="0 0 24 24">
  <path d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"></path>
</svg> Your Cart</button>
          <div id="shopping-cart" class="shopping-cart-container">
            <table id="cart-content">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>desc</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <p class="total-container" id="total-price"></p>
            <a href="#" id="checkout-btn" class="cart-btn">Checkout</a>
            <a href="#" id="clear-cart" class="cart-btn">Clear Cart</a>
          </div>
        </li>
      </ul>
    </div>
  </div>


</header>


<main class="container page-content">
  <h2 class="page-title">Online Products</h2>
  <div class="grid" id="grid">


    {% for prod in prods %}
       
    <div class="card">
      <img src="/{{prod.img}}" class="card__image" alt="">
      <div class="card__info">
        <h4 class="card__title">{{prod.name}}</h4>
        <p class="card__text">{{prod.desc}}</p>
        <p class="card__price">{{prod.price}}</p>
        <button class="card__btn add-to-cart" data-id="6">xyz</button>
      </div>
    </div>

    {% endfor %}
  
    <!-- <div class="card">
      <img src="{{prods.img}}" class="card__image" alt="">
      <div class="card__info">
        <h4 class="card__title">{{prods.name}}</h4>
        <p class="card__text">{{prods.desc}}</p>
        <p class="card__price">{{prods.price}}</p>
        <button class="card__btn add-to-cart" data-id="7">Add to Cart</button>
      </div>
    </div>
    
    <div class="card">
      <img src="{{prods.img}}" class="card__image" alt="">
      <div class="card__info">
        <h4 class="card__title">{{prods.name}}</h4>
        <p class="card__text">{{prods.desc}}</p>
        <p class="card__price">{{prods.price}}</p>
        <button class="card__btn add-to-cart" data-id="8">Add to Cart</button>
      </div>
    </div> -->

    


     <!-- <div class="card">
      <img src="{% static 'images/spinach.jfif' %}" class="card__image" alt="">
      <div class="card__info">
        <h4 class="card__title">SPINACH</h4>
        <p class="card__text">green vegetable</p>
        <p class="card__price">$150</p>
        <button class="card__btn add-to-cart" data-id="8">Add to Cart</button>
      </div>
    </div>

    <div class="card">
      <img src="{% static 'images/AVOCADO.jpg' %}" class="card__image" alt="">
      <div class="card__info">
        <h4 class="card__title">AVOCADO</h4>
        <p class="card__text">rich in vitmin andd fat as well</p>
        <p class="card__price">$150</p>
        <button class="card__btn add-to-cart" data-id="8">Add to Cart</button>
      </div>
    </div>

    
    
    <div class="card">
      <img src="{% static 'images/banana.jpg' %}" alt="" class="card__image">
      <div class="card__info">
        <h4 class="card__title">BANANA</h4>
        <p class="card__text">fruits with more powerfull and energies</p>
        <p class="card__price">$50</p>
        <button class="card__btn add-to-cart" data-id="9">Add to Cart</button>
      </div>
    </div>
    
    <div class="card">
      <img src="{% static 'images/beans.jfif' %}" alt="" class="card__image">
      <div class="card__info">
        <h4 class="card__title">BEANS</h4>
        <p class="card__text">domestics food</p>
        <p class="card__price">$100</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
    
    <div class="card">
      <img src="{% static 'images/maize.png' %}" alt="" class="card__image">
      <div class="card__info">
        <h4 class="card__title">MAIZE</h4>
        <p class="card__text">domestic food may used like wheat</p>
        <p class="card__price">$300</p>
        <button class="card__btn add-to-cart" data-id="11">Add to Cart</button>
      </div>
    </div>
    
    <div class="card">
      <img src="{% static 'images/brocol.jfif' %}" alt="" class="card__image">
      <div class="card__info">
        <h4 class="card__title">BROCOL</h4>
        <p class="card__text">vegetables that used in domestic purpose</p>
        <p class="card__price">$200</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div> -->
  
  </div>
</main>
<footer class="footer">
  <div class="container footer__container">
    <div class="footer__links">
    <ul class="footer__list">
      <li class="footer__list-item"><a class="footer__link-item" href="#">About us</a></li>
      <li class="footer__list-item"><a class="footer__link-item" href="#">Become an producer</a></li>
    </ul>
  </div>  
  </div>
</footer>  
     
 </main>
 
  
  <script  src="{% static 'javascript/script(4).js' %}"></script>
  </body>
</html>